@using Moho.Web.Models
@model Moho.Web.Models.Screen

@{
    ViewBag.Title = "Create - " + Model.Name;
}

<h2>Create @Model.Name Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (ScreenField field in Model.ScreenFields)
        {
            <div class="form-group">
                @Html.Label(field.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @switch (field.Type)
                    {
                        case ScreenFieldTypeEnum.Text:
                            @Html.TextBox(field.Name, "", new { @class = "form-control" })
                            break;
                        case ScreenFieldTypeEnum.Number:
                            @Html.TextBox(field.Name, "", new { @class = "form-control", type = "number" })
                            break;
                        case ScreenFieldTypeEnum.Date:
                            @Html.TextBox(field.Name, "", new { @class = "form-control", type = "date" })
                            break;
                        case ScreenFieldTypeEnum.Checkbox:
                            @Html.CheckBox(field.Name, false, new { })
                            break;
                        case ScreenFieldTypeEnum.TextArea:
                            @Html.TextArea(field.Name, "", 5, 30, new { @class = "form-control" })
                            break;
                        default:
                            break;
                    }
                    @Html.ValidationMessage(field.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Create
                </button>
            </div>
        </div>
    </div>
}
