@using Moho.Web.Models
@model Moho.Web.Models.Screen

@{
    ViewBag.Title = "Create - " + Model.Name;
}

<h2>Create @Model.Name Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (ScreenField field in Model.ScreenFields)
        {
            <div class="form-group">
                @Html.Label(field.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox(field.Name, "", new { @class = "form-control" })
                    @Html.ValidationMessage(field.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Create
                </button>
            </div>
        </div>
    </div>
}
